{
  "task": {
    "cluster": "cluster-name",
    "task_def": "task-definition-name",
    "launch_type": "FARGATE or EC2",
    "count": 1
  },
  "ssm": {
    "ssm_path": "/path/to/your/ssm/parameters",
  },
  "overrides": {
    "container_name": "container-name",
  }
}