{
  "task": {
    "cluster": "example-cluster",
    "task_def": "example-task-def",
    "launch_type": "FARGATE or EC2",
    "count": 1
  },
  "ssm": {
    "ssm_path": "/path/to/your/ssm/parameters",
  },
  "overrides": {
    "container_name": "example-container",
  }
}