{
  "task": {
    "count": 1,
    "cluster": "example-cluster",
    "task_def": "example-task-def",
    "launch_type": "FARGATE",
    "env_vars": {
      "VAR_1": "value1",
      "VAR_2": "value2"
    },
    "tags": [
    {"tag1":"value1"},
    {"tag2":"value2"}
    ]
  },
  "ssm": {
    "ssm_path": "/path/to/your/ssm/parameters",
  },
  "overrides": {
    "container_name": "example-container",
  }
}